streamlit
folium
streamlit-folium
requests
numpy
pandas
opencv-python-headless
Pillow
python-dotenv

# Backend (if you plan to deploy both frontend & backend together)
fastapi
uvicorn
python-multipart
pydantic
pymongo
redis
bcrypt
passlib[bcrypt]
python-jose[cryptography]