fastapi
uvicorn[standard]
motor
pymongo
redis
dnspython
passlib[bcrypt]
bcrypt
python-jose[cryptography]
pydantic
pydantic-settings
email-validator
aiohttp
numpy
opencv-python-headless
torch==2.2.2
torchvision==0.17.2
ultralytics==8.0.0
easyocr==1.7.1
